*~
*.arx
*.dll
*.bak
*.csv
*.cui
*.cuix
*.mnu
*.fas
*.vlx
*.zelx
*-whole.lsp
*-whole-dev.lsp
/*.arx
*.mns
*.mnr
/bin
/archive
/raw
/backup
/Pattern
/lib/
*.dwl
*.dwl2
*.libdoc
*.cdc
#*.*#
.#*
Thumbs.db
*.html
*.zip
*.shx
*.log
/instpkg.lst
/dev-mode
/.check-newversion
/version.lsp
/pkgs.list
/pkgs-release.list
/config.cfg
/lib.cfg
/pkg-in-use.lst
/tmp
/hotkey.cfg
/test/
/chenhan/
.tmp/
.vscode/
dist/
__pycache__/
